html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown-body {
  margin: 0 auto !important;
  box-sizing: border-box;
  padding: 20px 45px;
  min-width: 200px;
  max-width: 780px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
.title {
  padding: 10px 45px;
}
.title h1 {
  border: none;
  margin-bottom: 5px;
  padding: 0;
}
.title tags {
}

iframe {
  border: none;
  width: 100%;
  height: 520px; /*whatever you need, to make the scrollbar hide on testing, and the content of the iframe reveal (on mobile/phone or other target devices) */
}

@media (max-width: 640px) {
  iframe {
    height: 420px; /*whatever you need, to make the scrollbar hide on testing, and the content of the iframe reveal (on mobile/phone or other target devices) */
  }
}
@media (max-width: 420px) {
  iframe {
    height: 200px; /*and so on until and as needed */
  }
}
